/* animations.css */
.fade-enter {
    opacity: 0;
    transform: translateY(20px);
  }
  .fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms, transform 500ms;
  }
  .fade-exit {
    opacity: 1;
    transform: translateY(0);
  }
  .fade-exit-active {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 500ms, transform 500ms;
  }
  
  .status-bar {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: #96e24a7d;
    border-radius: 2px;
  }
  
  .status-bar-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #96e24ac3; /* Blue color for the fill */
    border-radius: 2px;
    transition: width 1s linear; /* Smooth transition for width */
  }
  